html {
  font-family: Lora, serif;
}

.masthead {
  border-top: 3px solid #2d5a4d;
  border-bottom: 3px solid #2d5a4d;
  background-color: #588477;
  background-image: url("../images/leaf-bg.svg");
  background-repeat: repeat;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
  color: #fff;
}

.nav a {
  text-decoration: none;
  border: 3px solid #2d5a4d;
  background-color: #467366;
  border-radius: 8px;
  color: #fff;
}

.nav a:hover {
  background-color: #fff;
  color: #145b1d;
  background-image: url("../images/leaf-icon.svg");
  background-position: .75em center;
  background-size: 48px auto;
  background-repeat: no-repeat;
}

.banner {
  background:
  linear-gradient(to bottom, rgba(16, 52, 41, 0), rgba(16, 52, 41, .8)),
  url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  border-bottom: 3px solid #2d5a4d;
}

.banner-content {
  background-image: url("../images/two-leaves.svg");
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 300px;
  background-size: 100px auto;
  background-position: 12px 182px;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
